* {
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
    /* background: rgb(221, 70, 70); */
}

html,
body {
    margin: 0px;
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-size: 1rem;
    font-family: 'Catamaran', sans-serif;
    line-height: 1.5;
    color: #333;
    color: rgba(167, 150, 150, 0.979);
}


/* global selector */

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.magicleap-header {
    background-image: linear-gradient(to right, rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url('../images/magicleap.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 28rem;
}

.magic-header-container {
    width: 60%;
    margin: 0 auto;
}

.magic-header-container h1 {
    font-weight: 900;
    color: white;
    font-size: 2.2rem;
    font-family: 'Open Sans', sans-serif;
}

.magic-header-container p {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1.2rem;
    color: white;
    margin-left: 3rem;
    margin-right: 3rem;
}

.hero-button-enterprise {
    margin-top: .8rem;
}

.hero-content-holder {
    width: 100%;
    padding: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.magic-header-container .btn-holder1 {
    margin-left: 6rem;
}

.magic-header-container .btn-holder2 {
    margin-right: 6rem;
}

.magic-header-container .btn-holder1 .btn1 {
    width: 12rem;
    text-align: center;
    height: 2.7rem;
    border: none;
    background: rgb(221, 70, 70);
    color: white;
    border-radius: 50px;
}

.magic-header-container .btn-holder2 .btn2 {
    width: 12rem;
    text-align: center;
    height: 2.7rem;
    border: none;
    border: 2px solid white;
    background: transparent;
    color: white;
    border-radius: 50px;
}


/*  */

.special-computing-holder {
    height: 300px;
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding-bottom: 0px;
    border: 1px solid blue;
    overflow: hidden;
}

.special-computing-inner {
    height: 250px;
    margin-top: 2rem;
    border: 1px solid black;
}

.special-computing-inner h1 {
    color: rgb(66, 62, 62);
    font-weight: 900;
    font-family: 'Roboto', serif;
    font-size: 2.5rem;
    letter-spacing: 0.12rem;
    margin-top: 2rem;
}

.para-spaecial {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    font-weight: lighter;
    color: rgb(48, 45, 45);
    font-size: 1.3rem;
}

.info-enterprise-box {
    background: rgba(243, 242, 242, 0.856);
    height: 8rem;
}

.info-enterprise-box .info-body {
    padding: 2rem;
}

.info-body p {
    color: black;
    font-weight: lighter;
    font-size: 0.9rem;
    color: rgb(77, 74, 74);
}

.info-image-holder {
    padding-top: 2rem;
}

.info-image-holder p {
    margin-top: 1rem;
    font-weight: bolder;
    font-size: 1rem;
    letter-spacing: .025rem;
}

.info-enterprise-box {
    height: 8rem;
}

.enterprise-cards-outer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: auto;
    overflow: hidden;
}

.info-enterprise-box-outer {
    margin-top: 1rem;
    height: 400px;
}

.our-partners-holder {
    padding: .5rem;
    margin-right: auto;
    margin-left: auto;
}

.our-partners {
    height: auto;
}

.partners-header {
    margin-top: 2rem;
    font-weight: bolder;
    font-size: 1.2rem;
    color: rgb(138, 133, 133);
}

.partners-image {
    height: 4rem;
    margin-top: 2rem;
}


/* form */

.form-heading {
    width: 100%;
}

.form-heading h2 {
    color: black;
    font-weight: 700;
    font-size: 1.4rem;
    padding-top: 3rem;
}

.form-para {
    width: 50%;
    margin: 0 auto;
}

.form-container {
    background: rgb(226, 220, 220);
}

.form-para p {
    font-size: 1.2rem;
    font-weight: lighter;
}

.form input {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(153, 147, 147);
}

.form select {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(153, 147, 147);
}

.form-wrapper {
    width: 60%;
    margin: 0 auto;
}

.form {
    background: transparent;
}

.form-btn {
    width: 100%;
    text-align: center;
}

.form-btn button {
    background: rgb(199, 62, 62);
    width: 8rem;
    height: 2rem;
    color: white;
    margin-top: 2rem;
    border-radius: 50px;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}


/* footer style */

footer {
    padding: 3rem 3rem 0px 3rem;
}

.footer-wrapper {
    padding-left: 1.4rem;
}

.footer-ul li a {
    font-size: 0.7rem;
    color: rgb(100, 100, 100);
}

.footer-ul .footer-link-heading a {
    font-size: 0.8rem;
    color: rgb(70, 68, 68);
}

.footer-icons {
    width: 50%;
}

.footer-down-holder {
    width: 50%;
    margin: 0px auto;
    padding: 2rem;
}

.footer-down-holder a {
    font-size: 0.6rem;
    color: rgb(100, 100, 100);
}

.made-with-love {
    width: 100%;
    padding: 1rem;
    color: rgb(44, 43, 43);
}

.made-with-love h4 {
    font-size: 0.7rem;
    float: left;
    padding: 0px;
    margin: 0px;
}

.made-with-love p {
    font-size: 0.7rem;
    float: right;
    padding: 0px;
    margin: 0px;
}


/************/


/* .footer-inner {
    width: 90%;
    margin-left: 2rem;
}

.about-magic-leap {
    padding-left: 2rem;
}

.For-Enterprise {
    padding-left: 2rem;
}

.For-Creators {
    padding-left: 2rem;
}

.buy {
    padding-left: 4rem;
} */

*/