* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgb(0, 0, 0);
    /* font-family: 'Oswald', sans-serif;
    font-family: 'Open Sans', sans-serif;
   font-family: 'Catamaran', sans-serif; */
}


/* global tags styles */

a {
    text-decoration: none;
    color: black;
}

#input-email {
    outline: none;
}

::-webkit-input-placeholder {
    font-size: 13px;
    margin-bottom: 2rem;
    color: rgb(192, 183, 183);
}

 ::-moz-placeholder {
    font-size: 13px;
    margin-bottom: 2rem;
    color: rgb(192, 183, 183);
}

 :-ms-input-placeholder {
    font-size: 13px;
    margin-bottom: 2rem;
    color: rgb(192, 183, 183);
}

 ::placeholder {
    margin-bottom: 2rem;
    font-size: 13px;
    color: rgb(192, 183, 183);
}


/* ********************************** */

.signin-cover {
    background: radial-gradient(80% 250px at 50% calc(50% + 280px), rgb(247, 247, 247) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(50% 58% at center top, rgb(255, 255, 255) 14%, rgb(220, 220, 220) 100%);
    background-image: radial-gradient(80% 250px at 50% calc(50% + 280px), rgb(247, 247, 247) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(50% 58% at center top, rgb(255, 255, 255) 14%, rgb(220, 220, 220) 100%);
}

.sign-form-wrapper {
    width: 100%;
}

.signin-holder {
    height: 35rem;
    /*we have to change from vh*/
}

.form-outer {
    padding: 1rem;
}

.sign-form-wrapper {}

.signin-logo-contain {
    text-align: center;
}

.login-email-wrapper {
    text-align: center;
    margin-bottom: 2rem;
}

.login-email-wrapper h2 {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
}

.login-email-wrapper p {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.email-form-wrapper {
    text-align: center;
}

.email-form-wrapper .email-input {
    border: none;
    background: transparent;
    border-bottom: 1.3px solid rgb(192, 183, 183);
    margin-bottom: 2rem;
    outline: none;
    width: 100%;
}


/* .email-form-wrapper .email-input:focus {
    outline: 0;
} */

.email-form-wrapper p {
    font-size: 0.8em;
    color: rgb(92, 91, 91);
}

.form-button {
    text-align: center;
    background-color: rgb(206, 52, 52);
    width: 7rem;
    height: 2rem;
    border: none;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 2rem;
}

.form-button button {
    color: white;
    padding: .2em;
}

.form-button button:hover {
    color: white;
}

.signin-trouble-txt {
    margin-top: 2rem;
    text-align: center;
}

.signin-trouble-txt p {
    font-size: 0.8rem;
}

.signin-trouble-txt p span {
    color: rgb(206, 52, 52);
}


/* footer sigin */

.footer-outer-signin {
    width: 90%;
    margin: 0 auto;
    font-size: 0.8rem;
    align-items: center;
}

.footer-outer-signin p {
    margin: 0.5rem 0;
}

.footer-links-signin {
    width: 80%;
}

.footer-signin {
    background: rgb(212, 206, 206);
}

.inside {}


/* *******************88 */